.filter-accord {
  margin: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;

  &__title {
    padding: 8px 24px 8px 13px !important;
    margin-bottom: 5px !important;
    transition: color .1s ease-in-out, background-color .1s ease-in-out;

    &-icon {
      transition: color .1s ease-in-out;
    }

    &:hover {
      transition: color .1s ease-in-out, background-color .1s ease-in-out;
      color: rgb(222, 148, 11);
      background-color: #fff7da;

      .filter-accord__title-icon {
        color: rgb(222, 148, 11);
        transition: color .1s ease-in-out;
      }
    }
  }

  &__details {
    padding: 8px 24px 8px 13px !important;
  }

  .css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    font-size: 14px !important;
  }
}