.products {
  padding-bottom: 100px;

  &__title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  &__more {
    color: #333 !important;
    width: 100% !important;
    margin-top: 20px !important;
    background-color: #fff !important;
  }

  &__pagination {
    width: 100%;
    margin-top: 20px;
  }
}

.filter {
  position: relative;
  width: 278px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16);

  &__body {
    padding: 10px 0;
  }

  &__search {
    margin-bottom: 8px;

    .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
    }
  }

  &__price {
    display: flex;

    &-input {
      
      .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
        height: 40px !important;
        padding: 1px 2px 1px 9px !important;
      }

      &:first-child {
        margin-right: 10px !important;
      }
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    margin-top: 20px;
  }

  &__btn {
    margin-bottom: 10px !important;

    &:last-child {
      margin-bottom: 0 !important;
    }

    &--select {
      background-color: rgb(222, 148, 11) !important;
    }

    &--reset {
      color: #333 !important;
      background-color: transparent !important;
    }
  }
}

.items {
  width: 100%;

  &__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__sort {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16);
    margin-bottom: 20px;
    padding: 16px;
    font-size: 14px;

    &-text {
      color: #333;
      display: inline-block;
      margin-right: 5px;
    }

    &-value {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: rgb(13, 97, 175);
      transition: color .2s ease-in-out;

      &:hover {
        transition: color .2s ease-in-out;
        color: rgb(222, 148, 11);

        .items__sort-arrow {
          transition: color .2s ease-in-out;
          color: rgb(222, 148, 11);
        }
      }
    }

    &-arrow {
      transition: color .2s ease-in-out;
    }

    &-list {
      position: absolute;
      left: 0;
      top: 50px;
      z-index: 5;
      min-width: 300px;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, .08);
      border-radius: 8px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16);

      &-control {
        margin: 0 !important;
        padding: 8px 16px !important;
        transition: background-color .1s ease-in-out !important;

        &:hover {
          transition: background-color .1s ease-in-out !important;
          background-color: #fff7da !important;
        }
      }
    }
  }
}